.main{
    width: 40rem;
    height: 100vh;
    
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.main .bloque{
    width: 10rem;
    height: 10rem;
    background-color: greenyellow;
    border: 1px solid black;
    box-shadow: 0px 4px 4px orangered;
}
.activar{
    display: none;
}